header {
    margin-top: 5rem;
}

header h1{
    text-align: center;
}

header p{
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0.5rem;
}

form .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid {   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    gap: 1.5rem;
}

.grid article {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid article footer {
    margin-top: auto;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--pico-card-background-color);
    padding: 0.75rem 12.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    z-index: 100;
    margin-bottom: 2rem;
}

nav ul li a {
    padding: 0.25rem 1;
    font-weight: 500;
    color: var(--pico-color);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--pico-primary-background);
}

nav ul li a:hover::after {
    width: 100%;
}