@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

#home {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            max-width: 500px;
        }
        .btn {
            width: 100%;
        }
    }
}